.pagina_post_grid {
    width: 100%;
    display: grid;
    grid-template-areas: "grid_1 grid_2";
    grid-template-columns: 70% 30%;
}

.pagina_post_grid .grid_1 {
    grid-area: grid_1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: var(--color-blanco);
    border: var(--borde-card);
    border-radius: 10px;
    box-shadow: var(--sombra);
}

.pagina_post_grid .grid_2 {
    grid-area: grid_2;
    gap: 20px;
    padding: 0px 20px;
}

.pagina_post_grid .grid_1 .titulo {
    font-size: 24px;
    line-height: 24px;
    margin: 30px 0;
    font-weight: 700;
    color: var(--color-negro);
    text-align: center;
}

.pagina_post_grid .grid_1 .fecha {
    display: flex;
    gap: 4px;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--color-negro);
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.pagina_post_grid .grid_1 .contenedor_autor {
    display: flex;
    margin: 20px 0px;
    align-items: center;
    gap: 8px;
    width: max-content;
}

.pagina_post_grid .grid_1 .imagen {
    width: 60px;
    height: 60px;
}

.pagina_post_grid .grid_1 .datos {
    line-height: 14px;
}

.pagina_post_grid .grid_1 .datos p {
    font-weight: 700;
    font-size: 16px;
    color: var(--color-negro);
}

.pagina_post_grid .grid_1 .datos span {
    font-size: 14px;
}

.pagina_post_grid .grid_2 .contenedor_lista_post {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pagina_post_grid .documentos_adjuntos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pagina_post_grid .documentos_adjuntos a {
    border-radius: 50px;
    padding: 4px 10px;
    width: fit-content;
}

.pagina_post_grid .documentos_adjuntos a:hover {
    transform: translateY(-2px);
}

@media (max-width: 1024px) {
    .pagina_post_grid {
        grid-template-areas:
            "grid_1"
            "grid_2";
        grid-template-columns: 100%;
        grid-gap: 10px;
    }

    .pagina_post_grid .grid_2 {
        padding: 0px;
    }
}