/*CONTENEDOR ASIDE*/
.contenedor_aside {
    position: fixed;
    left: calc(-1 * (var(--ancho-sidebar-admin-item) + var(--ancho-sidebar-admin-menu)));
    width: var(--ancho-sidebar-admin-item);
    height: 100%;
    background: var(--color-blanco);
    top: 0;
    z-index: 99;
    transition: all .4s ease-in-out;
    border-right: var(--borde-card);
}

.contenedor_aside a {
    cursor: pointer;
}

/*CONTENEDOR NAV ICONOS*/
.contenedor_nav_iconos {
    height: 100vh;
    z-index: 99;
    position: relative;
    background: var(--color-blanco);
    box-shadow: var(--sombra);
}

.contenedor_nav_iconos .contenedor_menu_hamburguesa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: var(--alto-header-admin);
}

.contenedor_nav_iconos .contenedor_menu_hamburguesa i {
    font-size: 18px;
    color: var(--color-negro);
    cursor: pointer;
}

.contenedor_nav_iconos ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: var(--color-negro);
    scrollbar-width: none;
    overflow: hidden scroll;
    padding: 10px 20px;
    height: calc(100% - var(--alto-header-admin));
}

.contenedor_nav_iconos ul .nav_icono_seleccionado {
    background-color: var(--color-verde);
    color: var(--color-blanco);
}

.nav_icono_seleccionado.no-hover {
    pointer-events: none;
}

.contenedor_nav_iconos ul li {
    padding: 12px;
    border-radius: 12px;
}

.contenedor_nav_iconos ul li:hover {
    background-color: var(--color-gris);
}

.contenedor_nav_iconos ul i {
    font-size: 18px;
    cursor: pointer;
}

/*FIN CONTENEDOR NAV ICONOS*/


/*CONTENEDOR NAV LINKS*/
.contenedor_nav_links {
    position: absolute;
    width: var(--ancho-sidebar-admin-menu);
    left: calc(-1 * var(--ancho-sidebar-admin-menu));
    background: var(--color-blanco);
    top: 0;
    transition: left .4s ease-in-out;
    height: 100%;
    border-right: var(--borde-card);
}

.contenedor_nav_links.estilo_abierto_contenedor_nav_links {
    left: var(--ancho-sidebar-admin-item);
}

/*CONTENEDOR LOGO*/
.contenedor_logo {
    position: absolute;
    top: 0;
    padding: 0 24px;
    transition: left .4s ease-in-out;
    height: var(--alto-header-admin);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--borde-card);
}

/*FIN CONTENEDOR LOGO*/

/*SIDEBAR NAV*/
.sidebar_nav {
    padding: 20px 0px;
    position: absolute;
    height: calc(100vh - var(--alto-header-admin));
    top: var(--alto-header-admin);
    transition: left .4s ease-in-out;
    z-index: 98;
    width: 100%;
    font-size: 15px;
    color: var(--color-negro)
}

.sidebar_nav .sidebar_scroll {
    height: 100%;
    overflow: hidden scroll;
    direction: inherit;
    box-sizing: border-box !important;
    position: relative;
    display: block;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    scrollbar-width: none;
}

.sidebar_nav .nivel_1 {
    padding: 0px 20px;
}

.sidebar_nav li {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.sidebar_nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.sidebar_nav li .contenedor_a {
    width: 100%;
    display: flex;
    padding: 8px 15px;
    gap: 5px;
    align-items: flex-start;
    justify-content: space-between;
}

.sidebar_nav li .contenedor_a a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.sidebar_nav .nivel_2 li {
    padding-left: 15px;
}

.sidebar_nav ul .sidebar_nav_seleccionado {
    background-color: var(--color-verde);
    color: var(--color-blanco);
    border-radius: 12px;
}

.sidebar_nav ul .contenedor_a:hover {
    color: var(--color-verde);
}

.sidebar_nav ul .sidebar_item_seleccionado {
    color: var(--color-verde);
}

.sidebar_nav_seleccionado.no-hover {
    color: var(--color-blanco) !important;
}

.ocultar_nivel {
    display: none !important;
}

.punto_item {
    font-size: 6px;
}

@media (min-width: 768px) {

    .contenedor_aside {
        left: 0;
    }

}

@media (max-width: 768px) {

    /*CONTENEDOR ASIDE*/
    .contenedor_aside {
        left: calc(-1 * (var(--ancho-sidebar-admin-item) + var(--ancho-sidebar-admin-menu)));
    }

    .contenedor_aside.estilo_abierto_contenedor_aside {
        left: 0;
    }

}