.g_fila {
    display: flex;
    margin-right: calc(-.5 * 20px);
    margin-left: calc(-.5 * 20px);
}

.g_fila>* {
    width: 100%;
    max-width: 100%;
    padding-right: calc(20px * .5);
    padding-left: calc(20px * .5);
}

.g_columna_12 {
    width: 100%;
}

.g_columna_8 {
    width: 66.66666667%;
}

.g_columna_6 {
    width: 50%;
}

.g_columna_4 {
    width: 33.33333333%;
}

.g_columna_3 {
    width: 25%;
}


@media (max-width: 768px) {
    .g_fila {
        flex-direction: column;
        gap: 10px;
    }

    .g_columna_8 {
        width: 100%;
    }

    .g_columna_6 {
        width: 100%;
    }

    .g_columna_4 {
        width: 100%;
    }

    .g_columna_3 {
        width: 50%;
    }
}