.g_panel {
    padding: 20px;
    background-color: var(--color-blanco);
    background-clip: border-box;
    border: var(--borde-card);
    border-radius: var(--borde-radius);
}

.g_panel_titulo {
    font-size: 18px;
    margin-bottom: 8px;
    color: var(--color-negro);
    font-weight: 600;
}

@media (max-width: 768px) {
    .g_panel {
        padding: 10px;
    }
}
