.web_header_banner {
    height: var(--alto-header-web-banner);
    background: var(--color-amarillo);
    color: var(--color-blanco);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
}

.web_header_banner.oculto {
    transform: translateY(-100%);
    opacity: 0;
}

.web_header {
    background-color: var(--color-negro);
    box-shadow: var(--sombra);
    position: fixed;
    top: var(--alto-header-web-banner);
    left: 0;
    width: 100%;
    z-index: 998;
    transition: transform 0.3s ease;
}

.web_header_contenedor .web_header {
    transform: translateY(calc(-1 * var(--alto-header-web-banner)));
}

.web_header .web_header_cuerpo {
    height: var(--alto-header-web);
    max-width: var(--ancho-centrar-pagina);
    margin: 0 auto;
    padding: 14px var(--padding-costados);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.web_header .web_header_cuerpo .logo {
    height: 60px;
}

.web_header .web_nav_menu {
    display: flex;
    gap: 24px;
}

.web_header .menu_principal {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.web_header .menu_principal .menu_item {
    position: relative;
}

.web_header .menu_cliente {
    display: none;
}

.web_header .menu_cliente button {
    width: 100%;
}

.web_header .menu_principal .menu_item .nav_link {
    text-decoration: none;
    color: var(--color-blanco);
    font-weight: 500;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 8px 4px;
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    display: flex;
    align-items: center;
    gap: 6px;
}

.web_header .menu_principal .menu_item .nav_link:hover {
    color: var(--color-amarillo);
}

.boton_personalizado {
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 25px;
}

.boton_personalizado_negro {
    background: var(--color-negro);
    border: 1px solid var(--color-negro);
    color: var(--color-blanco);
}

.boton_personalizado_verde {
    background: var(--color-verde);
    border: 1px solid var(--color-verde);
    color: var(--color-blanco);
}

.boton_personalizado_verde:hover {
    background: var(--color-amarillo);
    border: 1px solid var(--color-verde);
    color: var(--color-verde);
}

.boton_personalizado_blanco {
    background: var(--color-plomo);
    border: 1px solid var(--color-gris);
    color: var(--color-verde);
}

.boton_personalizado_blanco:hover {
    background: var(--color-verde);
    border: 1px solid var(--color-verde);
    color: var(--color-blanco);
}

.boton_personalizado_amarillo {
    background: var(--color-amarillo);
    border: 1px solid var(--color-amarillo);
    color: var(--color-verde);
}

.boton_personalizado_amarillo:hover {
    background: var(--color-verde);
    border: 1px solid var(--color-amarillo);
    color: var(--color-blanco);
}

/* Icono desplegable */
.web_header .menu_principal .menu_item .icono_flecha {
    font-size: 0.8em;
    transition: transform 0.3s ease;
}

.web_header .menu_principal .menu_item .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-blanco);
    min-width: 180px;
    list-style: none;
    padding: 8px 0px;
    margin: 0;
    box-shadow: var(--sombra);
    border-radius: 8px;
    display: none;
    flex-direction: column;
}

.web_header .menu_principal .menu_item .submenu li {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.web_header .menu_principal .menu_item .submenu li a {
    display: block;
    padding: 10px 16px;
    color: var(--color-negro);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.web_header .menu_principal .menu_item .submenu li i {
    color: var(--color-negro);
    font-size: 5px;
}

.web_header .menu_principal .menu_item .submenu li:hover {
    background-color: var(--color-gris);
}

/* Mostrar submenú */
.web_header .menu_principal .menu_item.submenu_abierto>.submenu {
    display: flex;
}

.web_header .menu_principal .menu_item.submenu_abierto .icono_flecha {
    transform: rotate(180deg);
}

/* ----------- MÓVIL ----------- */
.web_header .web_menu_toggle {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: var(--color-blanco);
    display: none;
}

.web_header .web_menu_toggle.cerrar {
    color: var(--color-negro);
}

body.no-scroll {
    overflow: hidden;
}

.web_header .web_nav_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--color-overlay);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.web_header .web_nav_overlay.active {
    opacity: 1;
    visibility: visible;
}

.web_header .web_nav_menu .cabecera_sidebar {
    display: none;
}

@media (max-width: 768px) {
    .web_header .menu_cliente {
        display: block;
    }

    .web_header .web_nav_menu .cabecera_sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .web_header .web_menu_toggle {
        display: block;
    }

    /* Sidebar del menú */
    .web_header .web_nav_menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 80%;
        max-width: 320px;
        height: 100vh;
        background-color: var(--color-blanco);
        flex-direction: column;
        padding: 20px var(--padding-costados);
        gap: 16px;
        box-shadow: var(--sombra);
        transition: right 0.3s ease;
        z-index: 1000;
    }

    .web_header .web_nav_menu.active {
        right: 0;
    }

    .web_header .menu_principal {
        flex-direction: column;
        gap: 0;
    }

    .web_header .menu_principal .menu_item .submenu {
        position: static;
        background: var(--color-blanco);
        box-shadow: none;
        padding-left: 20px;
        display: none;
    }

    .web_header .menu_principal .menu_item.submenu_abierto {
        border-bottom: 1px solid var(--color-gris);
    }

    .web_header .menu_principal .menu_item.submenu_abierto>.submenu {
        display: flex;
    }

    .web_header .menu_principal .menu_item .nav_link {
        display: flex;
        justify-content: space-between;
        padding: 12px 10px;
        width: 100%;
        color:  var(--color-negro);
        border-bottom: 1px solid var(--color-gris);
    }

    .web_header .menu_principal .menu_item .boton_personalizado {
        justify-content: center;
    }

    .web_header .menu_principal .menu_item .boton_personalizado:first-of-type {
        margin-top: 20px;
    }
}