/* ALERTAS GENERALES */
.g_alerta_succes,
.g_alerta_error {
    padding: 12px 16px;
    border-radius: 6px;
    margin-bottom: 16px;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: var(--sombra);
}

/* ÉXITO */
.g_alerta_succes {
    background-color: var(--color-plomo);
    border: 1px solid var(--color-success);
    color: var(--color-success);
}

/* ERROR */
.g_alerta_error {
    background-color: var(--color-plomo);
    border: 1px solid var(--color-error);
    color: var(--color-error);
}

/* ÍCONO OPCIONAL (si usas fontawesome) */
.g_alerta_succes i,
.g_alerta_error i {
    font-size: 18px;
}
