@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap");

:root {
    --font-sans: "Instrument Sans", sans-serif; /**/
    --color-fondo-pagina: #fafafa; /**/
    --ancho-centrar-pagina: 1280px; /**/
    --padding-costados: 20px;
    --padding-arriba-abajo: 20px;
    --gap-computadora: 60px;
    --gap-movil: 40px;

    --alto-header-web-banner: 60px; /**/
    --alto-header-web: 80px; /**/
    --alto-header-admin: 60px; /**/
    --ancho-sidebar-admin-item: 80px; /**/
    --ancho-sidebar-admin-menu: 240px; /**/

    --color-negro: #000000; /**/
    --color-amarillo: #ea8e08; /**/
    --color-verde: #333333; /**/
    --color-whatsapp: #25d366;
    --color-blanco: #fff; /**/
    --color-plomo: #f0f0f0; /**/
    --color-gris: #e3e3e3; /**/
    --color-celeste: #009bdb; /**/
    --color-placeholder: #888787; /**/
    --color-error: #b81010; /**/
    --color-success: #3bb54a; /**/
    --color-overlay: rgba(0, 0, 0, 0.6); /**/

    --sombra: 0 6px 20px rgba(0, 0, 0, 0.15); /**/
    --sombra-secundario-izquierda: 2px 0 5px -2px rgba(0, 0, 0, 0.2);
    --sombra-secundario-derecha: -2px 0 5px -2px rgba(0, 0, 0, 0.2);

    --borde-card: 1px solid var(--color-gris); /**/
    --borde-radius: 14px;

    --view-computadora: 1024px;
    --view-tablet: 768px; /**/
    --view-movil: 500px;
}

body {
    font-family: var(--font-sans);
    color: var(--color-negro);
    background-color: var(--color-fondo-pagina);
}
